#menu, #menu ul, #menu li {
    background-color: black;
}

#menu li a {
    color: white;
}

#menu a:hover, a:focus {
    background-color: black;
    color: #fd7b30;
}
#menu ul .open a {
    background-color: black;
}
#menu {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    border: black;
}
body {
    background-color: #2a88bd;
}
.navbar-header {
    background-color: black;
}
#bs-example-navbar-collapse-1, .collapse, .navbar-collapse1 {
    padding-left: 0px;
    padding-right: 0px;
}
.navbar, .navbar-default, .navbar-collapse, .navbar-form {
    border: black;
}
.navbar-default .navbar-toggle:focus {
    background-color: black;
}

.navbar-default .navbar-toggle:hover {
    background-color: black;
    color: #fd7b30;
    border: 1px solid #fd7b30;
}
.navbar-default .navbar-toggle {
    color: white;
}
.navbar {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#part-01 {
    height: 1073px;
    width: 100%;
    background: url("../images/kv_2.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: height 1s;

}
#red-flag {
    width: 268px;
    height: 226px;
    background: url("../images/red_flag.png") no-repeat;
    margin: 0 auto;
    background-position-y: -100px;
}
#elektromarkt {
    height: 210px;
    width: 239px;
    background: url("../images/partner-logo_elektromarkt 2.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
    background-position-y: +123px;
    color: #FF958B;
    font-size: 18px;
    text-align: center;
    padding-top: 93px;
}
#main-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 8vw;
    text-align: center;
    text-transform: uppercase;
    color: #f2f2f2;
    text-shadow: 5px 5px 3px rgba(120, 120, 120, 0.5);
    transform: scale(0.9, 1.2);
}
#banner-text {
    margin: 0 auto;
    text-align: center;
    width: 350px;
    background-color: #fd7b30;
    padding: 13px 25px;
    color: white;
    font-size: 18px;
}
